<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/index.html::home(~{::body})}">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>Pet Shop</title>
</head>

<body>
	<div class="container-lg main-content px-3">
        <div class="d-flex align-items-center justify-content-center mt-5">
            <div class="w-75 gap-2 d-flex justify-content-start align-items-center">
                <h3 class="fw-bold font-resp text-danger"><i class="fa-regular fa-user"></i>
                    Quên mật khẩu</h3>
            </div>
            <div class="line w-25"></div>
        </div>
        <div class="row mt-3">
            <!--        ADVERTISE-->
            <div class="col-lg-3">
            </div>
            <!--        LOGIN FORM-->
            <div class="col-md-12 col-lg-6">
                <div class="card shadow border-0 sticky-element" style="top: 100px; z-index: 1">
                    <div class="card-body">
                        <form action="/login" method="post">
                            <h5 class="alert font-resp" th:if="${message}" th:text="${message}"
                                th:classappend="${loginStatus == true ? 'alert-success' : 'alert-danger'}"></h5>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" name="username" placeholder="Tên đăng nhập"
                                    required type="text">
                                <label for="username">Tên đăng nhập</label>
                            </div>
                            <div class="d-flex justify-content-center gap-3 mt-4">
                  				<a
  								id="forgotButton"
  								class="btn font-resp"
  								onclick="forgot()"
  								style="background: #aaccff"
  								>Gửi mật khẩu mới qua gmail
  								</a>
                			</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" data-bs-backdrop="static" id="countdownModal" tabindex="-1" aria-labelledby="modalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Thông báo</h5>
                    </div>
                    <div class="modal-body">
                        <p id="modal-message"></p>
                        <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div id="progressBar"
                                class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                                style="width: 0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
