<div class="container">
    <div class="row">
        <!-- Logo -->
        <div
                class="col-md-4 d-flex justify-content-center justify-content-md-start align-items-center flex-column">
            <img loading="lazy" src="/images/logo/logo-2.png" alt="Pet Ninja Logo" class="img-fluid"
                 style="min-width: 300px;">
            <h1 class="mt-2 color fw-bold">PET NINJA</h1>
        </div>
        <!-- Contact Information -->
        <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
            <h5 class="fw-bold">Cửa hàng Thú Cưng <span class="text-danger">PET NINJA</span></h5>
            <p>Địa chỉ: 123 Đường ABC, Phường XYZ, Quận 1, TP Hồ Chí Minh</p>
            <p>Điện thoại: (028) 1234 5678</p>
            <p>Email: contact@petzone.vn</p>
            <p>Giờ mở cửa:</p>
            <ul class="list-unstyled">
                <li>
                    <h4>Thứ 2 - Thứ 7: 8:00 - 20:00</h4>
                </li>
                <li>
                    <h4>Chủ Nhật: 9:00 - 18:00</h4>
                </li>
            </ul>
            <div>
                <a href="#"><i class="fab fa-facebook fa-2x me-2"></i></a>
                <a href="#"><i class="fab fa-zalo fa-2x me-2"></i></a>
                <a href="#"><i class="fab fa-tiktok fa-2x"></i></a>
            </div>
        </div>

        <!-- Google Map -->
        <div class="col-md-4 text-center text-md-end">
            <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="100%" style="border:0;"
                    allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>