<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/index.html::home(~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <style>
        /*.card-image {*/
        /*    transition: 0.5s;*/
        /*}*/

        /*.card-image:hover img {*/
        /*    transform: scale(1.1);*/
        /*}*/


    </style>
</head>
<body>
<!--SLIDE-->
<div class="row g-0">
    <div class="col-lg-8">
        <!-- Shaders slider -->
        <div class="swiper swiper-container-banner" pagination-type="progressbar">
            <div class="swiper-wrapper">
                <div th:each="s : ${slides}" class="swiper-slide">
                    <!-- shaders image must be a direct child of the slide and have additional "swiper-gl-image" class  -->
                    <img class="swiper-gl-image" th:src="@{/images/banner/{photo}(photo = ${s.sliderImage})}" th:alt="${s.sliderImage}">
                </div>
            </div>

            <div class="swiper-button-prev swiper-button-next-banner"></div>
            <div class="swiper-button-next swiper-button-next-banner"></div>
            <div class="swiper-pagination swiper-pagination-banner"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="background-color text-white text-center p-5" style="height: 100%; position: relative;">
            <h1 class="fw-bold color"
                style="background-color: white; display: inline-block; padding: 10px 20px; border-radius: 10px;">
                Giảm giá
            </h1>
            <h2 class="mt-4">Lên tới 50%</h2>
            <p class="mt-3">Chỉ còn 100.000đ - 200.000đ, số lượng có hạn !</p>
            <button class="btn btn-light mt-4 py-2 px-4 color button-image"
                    style="position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%);">
                <span class="fw-bold">Xem ngay</span>
            </button>
        </div>
    </div>
</div>
<!--SLIDE END-->
<!--BANNER-->
<div class="d-flex justify-content-center">
    <img loading="lazy" class="w-100" src="/images/banner/advertise.png" alt="banner" style="object-fit: cover;">
</div>
<!--BANNER END-->
<!--TIEN ICH-->
<div class="row my-3 g-4">
    <div class="col-lg-3 col-6">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <i class="fas fa-paw fa-3x color"></i>
            <h5 class="text-start">
                Sản phẩm chất lượng
                Được kiểm định an toàn
            </h5>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <i class="fas fa-dog fa-3x color"></i>
            <h5 class="text-start">
                Thức ăn cho thú cưng
                Đa dạng và bổ dưỡng
            </h5>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <i class="fas fa-cat fa-3x color"></i>
            <h5 class="text-start">
                Phụ kiện thú cưng
                Thời trang và tiện ích
            </h5>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <i class="fas fa-clinic-medical fa-3x color"></i>
            <h5 class="text-start">
                Dịch vụ chăm sóc
                Khám và điều trị tận nơi
            </h5>
        </div>
    </div>
</div>
<!--TIEN ICH END-->
<!--THU CUNG MOI-->
<div class="row my-3 g-4 d-flex align-items-center">
    <h1 class="color fw-bold text-center">THÚ CƯNG MỚI</h1>
    <div class="col-lg-5 col-md-5 position-relative">
        <div class="d-flex justify-content-center position-relative overflow-hidden rounded-5 shadow p-3">
            <img loading="lazy" class="w-100 card-image" th:src="@{/images/pet/{photo}(photo=${firstPet.photo})}"
                 th:alt="${firstPet.photo}">
            <button class="btn rounded-5 px-4 btn-outline-danger position-absolute button-image"
                    style="bottom: 10%; left: 50%; transform: translateX(-50%)">
                <span class="fw-bold m-0">Xem thêm</span>
            </button>
        </div>
    </div>
    <div class="col-lg-7 col-md-7">
        <div class="row g-3">
            <!--ITEMS-->
            <div th:each="pet : ${nextSixPet}" class="col-lg-4 col-md-6 col-sm-6 col-6">
                <a class=" nav-link" href="/chi-tiet">
                    <div class="card card-hover  border-0 position-relative">
                        <div class="overflow-hidden rounded-5 p-3 p-0 button-image"
                             style="background-color: #f7f7f5">
                            <img loading="lazy" th:src="@{/images/pet/{photo}(photo=${pet.photo})}"
                                 class="card-img-top card-image"
                                 alt="pet">
                        </div>
                        <div class="badge bg-warning position-absolute"
                             style="top: 0; right: 0; z-index: 1000;">
                            <h5 class="m-0">New</h5>
                        </div>
                        <div class="card-body text-center">
                            <h5 th:text="${pet.petCategoryID.petCategoryName + ' ' + pet.breed + ' ' + pet.hair}"
                                class="">ten thu cung</h5>
                            <span th:text="${'ID : '+pet.petID}">ID</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <button class="btn color py-2 px-4 rounded-5 button-image">
                <span class="fw-bold">Xem thêm</span>
            </button>
        </div>
    </div>
</div>
<!--THU CUNG MOI END-->
<!--BANNER-->
<div class="my-3">
    <img loading="lazy" src="/images/banner/long-banner-placeholder.png" class="w-100" alt="banner"
         style="object-fit: cover;">
</div>
<!--BANNER END-->
<!--SP NOI BAT-->
<div class="row my-3 g-4 d-flex align-items-center">
    <h1 class="color fw-bold text-center">SẢN PHẨM NỔI BẬT</h1>
    <div class="col-lg-5 col-md-5 position-relative sticky-top sticky-element">
        <div class=" d-flex justify-content-center position-relative overflow-hidden shadow p-3 ">
            <div class="position-absolute text-center d-flex justify-content-center align-items-center gap-2"
                 style="top: 0; left: 50%; transform: translateX(-50%);z-index: 1000">
                <h1 class="color fw-bold m-0">Giảm giá</h1>
                <h1 class="text-white background-color fw-bold py-2 m-0 w-50">50%</h1>
            </div>
            <img loading="lazy" class="w-100 card-image"
                 src="/images/background/best-selling-coming.png"
                 alt="best-selling">
            <button class="btn rounded-2 px-4 py-2 position-absolute button-image-white"
                    style="background-color: #f04336;bottom: 50%; left: 50%; transform: translateX(-50%)">
                <span class="fw-bold m-0 text-white">Xem ngay</span>
            </button>
            <div class="position-absolute w-100 px-5 text-center"
                 style="bottom: 5%; left: 50%; transform: translateX(-50%);z-index: 1000">
                <h5>Chỉ còn 100.000đ - 200.000đ, số lượng có hạn !</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7">
        <div class="row g-3">
            <!--ITEMS-->
            <div th:each="p : ${nextSixProducts}" class="col-lg-4 col-md-6 col-sm-6 col-6">
                <div class="card card-hover border-0">
                    <div class="p-3  position-relative button-image add-to-cart-container"
                         style="background-color: #f7f7f5">
                        <div class="overflow-hidden p-0 position-relative  ">
                            <a href="/chi-tiet" class="nav-link">
                                <img loading="lazy" th:src="@{/images/product/{photo}(photo=${p.photo})}"
                                     class="card-img-top card-image"
                                     alt="product">
                            </a>
                        </div>
                        <div class="badge bg-success position-absolute"
                             style="top: 0; right: 0; z-index: 1000;">
                            <h5 class="m-0">HOT</h5>
                        </div>
                        <a href="/them-gio-hang"
                           class="btn background-color button-image-white add-to-cart w-100 py-3 rounded-0 position-absolute"
                           style="bottom: 0; left: 0; z-index: 1001;">
                            <h5 class="text-white m-0">
                                <span>Thêm vào giỏ</span> <i class="fas fa-cart-plus"></i>
                            </h5>
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <div class="d-flex justify-content-center gap-2 my-2">
                            <i class="fa-solid fa-star text-warning"></i>
                            <i class="fa-solid fa-star text-warning"></i>
                            <i class="fa-solid fa-star text-warning"></i>
                            <i class="fa-solid fa-star text-warning"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h5 class="" th:text="${p.productName}">ten sp</h5>
                        <h4 class="color fw-bold" th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT') + 'đ'}">100.000đ</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <a class="btn color py-2 px-4 rounded-5 button-image">
                <span class="fw-bold">Xem thêm</span>
            </a>
        </div>
    </div>
</div>
<!--SP NOI BAT END-->
<!--LOAI SP DANH CHO THU CUNG-->
<div class="container my-5 overflow-hidden">
    <h1 class="color fw-bold text-center mb-4">LOẠI SẢN PHẨM DÀNH CHO THÚ CƯNG</h1>
    <!-- Swiper -->
    <div class="swiper-container position-relative">
        <div class="swiper-wrapper">
            <!--ITEMS-->
            <div th:each="pc : ${productCategories}" class="swiper-slide">
                <a href="/filter" class="nav-link">
                    <div class="card card-hover border-0 d-flex justify-content-center align-items-center">
                        <div class="overflow-hidden p-3 button-image"
                             style="background-color: #f7f7f5; border-radius: 50%; width: 100%; height: 100%;">
                            <img loading="lazy" th:src="@{/images/product_category/{photo}(photo=${pc.photo})}"
                                 class="card-img-top card-image"
                                 th:alt="${pc.photo}">
                        </div>
                        <div class="card-body text-center">
                            <h5 th:text="${pc.productCategoryName}" class="">Tên loại sản phẩm</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Nút điều hướng -->
        <div class="swiper-button-next color" style="position: absolute;top: 35%"></div>
        <div class="swiper-button-prev color" style="position: absolute;top: 35%"></div>
        <!-- Thanh phân trang -->
        <div class="swiper-pagination color" style="position: static"></div>
    </div>
</div>

<!--LOAI SP DANH CHO THU CUNG END-->
<!--FEEDBACK-->
<div class="row my-3 g-4 d-flex align-items-center">
    <div class="col-lg-6">
        <div class="card position-relative">
            <img loading="lazy" src="/images/banner/vertical-banner-placeholder.png" class="" alt="feedback">
            <div class="card-body text-center position-absolute"
                 style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <h1 class="color fw-bold">Phản hồi của khách hàng</h1>
                <p>
                    "Ninja Pet – Tự hào mang đến cho bạn những sản phẩm chất lượng cùng những bé thú cưng đáng yêu,
                    đồng hành cùng bạn trên mọi chặng đường!"
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <!--ITEMS-->
        <div class="card p-3 mb-3 button-image">
            <div class="d-flex justify-content-between align-items-center gap-2">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="overflow-hidden rounded-circle"
                         style="width: 50px;height: 50px">
                        <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                             style="object-fit: cover;">
                    </div>
                    <h4 class="color fw-bold m-0">Nguyễn Văn A</h4>
                </div>
                <div class="d-flex justify-content-center gap-2 my-2">
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <p class="my-3">
                "Ninja Pet – Tự hào mang đến cho bạn những sản phẩm chất lượng cùng những bé thú cưng đáng yêu,
                đồng hành cùng bạn trên mọi chặng đường!"
            </p>
            <p class="text-body-tertiary m-0">
                Ngày: 01/01/2022
            </p>
        </div>
        <div class="card p-3 mb-3 button-image">
            <div class="d-flex justify-content-between align-items-center gap-2">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="overflow-hidden rounded-circle"
                         style="width: 50px;height: 50px">
                        <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                             style="object-fit: cover;">
                    </div>
                    <h4 class="color fw-bold m-0">Nguyễn Văn A</h4>
                </div>
                <div class="d-flex justify-content-center gap-2 my-2">
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <p class="my-3">
                "Ninja Pet – Tự hào mang đến cho bạn những sản phẩm chất lượng cùng những bé thú cưng đáng yêu,
                đồng hành cùng bạn trên mọi chặng đường!"
            </p>
            <p class="text-body-tertiary m-0">
                Ngày: 01/01/2022
            </p>
        </div>
        <div class="card p-3 mb-3 button-image">
            <div class="d-flex justify-content-between align-items-center gap-2">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="overflow-hidden rounded-circle"
                         style="width: 50px;height: 50px">
                        <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                             style="object-fit: cover;">
                    </div>
                    <h4 class="color fw-bold m-0">Nguyễn Văn A</h4>
                </div>
                <div class="d-flex justify-content-center gap-2 my-2">
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <p class="my-3">
                "Ninja Pet – Tự hào mang đến cho bạn những sản phẩm chất lượng cùng những bé thú cưng đáng yêu,
                đồng hành cùng bạn trên mọi chặng đường!"
            </p>
            <p class="text-body-tertiary m-0">
                Ngày: 01/01/2022
            </p>
        </div>
        <div class="card p-3 mb-3 button-image">
            <div class="d-flex justify-content-between align-items-center gap-2">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="overflow-hidden rounded-circle"
                         style="width: 50px;height: 50px">
                        <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                             style="object-fit: cover;">
                    </div>
                    <h4 class="color fw-bold m-0">Nguyễn Văn A</h4>
                </div>
                <div class="d-flex justify-content-center gap-2 my-2">
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <p class="my-3">
                "Ninja Pet – Tự hào mang đến cho bạn những sản phẩm chất lượng cùng những bé thú cưng đáng yêu,
                đồng hành cùng bạn trên mọi chặng đường!"
            </p>
            <p class="text-body-tertiary m-0">
                Ngày: 01/01/2022
            </p>
        </div>
    </div>
</div>
<!--FEEDBACK END-->
<!--DANG KY NHAN THONG TIN MOI NHAT-->
<div class="row g-0 py-3">
    <div class="my-3">
        <h1 class="m-0 color fw-bold">Đăng ký nhận thông tin mới nhất</h1>
        <div class="line background-color" style="height: 5px;"></div>
    </div>
    <div class="col-lg-6">
        <div class="card position-relative">
            <img loading="lazy" src="/images/banner/vertical-banner-placeholder.png" class="" alt="feedback"
                 style="height: 400px;">
            <div class="card-body text-center position-absolute w-100"
                 style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <h3 class="color fw-bold w-100">Đăng ký để nhận tin tức về các sản phẩm mới nhất, sớm nhất!</h3>
                <p>
                    "Ninja Pet – Tự hào mang đến cho bạn những sản phẩm chất lượng cùng những bé thú cưng đáng yêu,
                    đồng hành cùng bạn trên mọi chặng đường!"
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 background-color">
        <div class="border-0 p-5">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-white">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-white">Họ và tên</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">

                </div>
                <div class="mb-3">
                    <label for="sdt" class="form-label text-white">Số điện thoại</label>
                    <input type="text" class="form-control" id="sdt">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit"
                            class="rounded-5 py-2 px-4 button-image">
                        <span class="color fw-bold">Đăng ký</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--DANG KY NHAN THONG TIN MOI NHAT END-->
<!--NHAN VIEN CHAM SOC KHACH HANG-->
<div class="my-3">
    <h1 class="m-0 color fw-bold">Nhân viên chăm sóc khách hàng</h1>
    <div class="line background-color" style="height: 5px;"></div>
</div>
<div class="row g-2 justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="card border-0 shadow p-3">
            <div class="overflow-hidden rounded-circle mx-auto"
                 style="width: 5rem;height: 5rem">
                <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                     style="object-fit: cover;">
            </div>
            <div class="card-body text-center p-2">
                <h5 class="color fw-bold">Nguyễn Văn A</h5>
                <p class="text-body-tertiary">Chăm sóc khách hàng</p>
                <p class="text-body-tertiary">Email: anc@gmail.com</p>
                <p class="text-body-tertiary">Số điện thoại: 0123456789</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="card border-0 shadow p-3">
            <div class="overflow-hidden rounded-circle mx-auto"
                 style="width: 5rem;height: 5rem">
                <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                     style="object-fit: cover;">
            </div>
            <div class="card-body text-center p-2">
                <h5 class="color fw-bold">Nguyễn Văn A</h5>
                <p class="text-body-tertiary">Chăm sóc khách hàng</p>
                <p class="text-body-tertiary">Email: anc@gmail.com</p>
                <p class="text-body-tertiary">Số điện thoại: 0123456789</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="card border-0 shadow p-3">
            <div class="overflow-hidden rounded-circle mx-auto"
                 style="width: 5rem;height: 5rem">
                <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                     style="object-fit: cover;">
            </div>
            <div class="card-body text-center p-2">
                <h5 class="color fw-bold">Nguyễn Văn A</h5>
                <p class="text-body-tertiary">Chăm sóc khách hàng</p>
                <p class="text-body-tertiary">Email: anc@gmail.com</p>
                <p class="text-body-tertiary">Số điện thoại: 0123456789</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="card border-0 shadow p-3">
            <div class="overflow-hidden rounded-circle mx-auto"
                 style="width: 5rem;height: 5rem">
                <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                     style="object-fit: cover;">
            </div>
            <div class="card-body text-center p-2">
                <h5 class="color fw-bold">Nguyễn Văn A</h5>
                <p class="text-body-tertiary">Chăm sóc khách hàng</p>
                <p class="text-body-tertiary">Email: anc@gmail.com</p>
                <p class="text-body-tertiary">Số điện thoại: 0123456789</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="card border-0 shadow p-3">
            <div class="overflow-hidden rounded-circle mx-auto"
                 style="width: 5rem;height: 5rem">
                <img loading="lazy" src="/images/user/user-placeholder.png" class="w-100" alt=""
                     style="object-fit: cover;">
            </div>
            <div class="card-body text-center p-2">
                <h5 class="color fw-bold">Nguyễn Văn A</h5>
                <p class="text-body-tertiary">Chăm sóc khách hàng</p>
                <p class="text-body-tertiary">Email: anc@gmail.com</p>
                <p class="text-body-tertiary">Số điện thoại: 0123456789</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>