<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum harum id ipsam modi natus nisi quam! Ab illo ipsa ipsum itaque libero maxime molestiae omnis perferendis? Accusamus, placeat, reiciendis.</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum harum id ipsam modi natus nisi quam! Ab illo ipsa ipsum itaque libero maxime molestiae omnis perferendis? Accusamus, placeat, reiciendis.</h1>
</body>
<script type="module" src="js.js"></script>
</html>