<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index.html::admin(~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div class="row mt-4">
    <div class="col-7">
        <div class="card shadow bg-white border-0 p-4">
            <h4 class="fw-bold text-center">Thống kê số lượng thú cưng theo loài</h4>
            <canvas id="petChart-Bar"></canvas>
        </div>
    </div>
    <div class="col-5">
        <div class="card shadow bg-white border-0 p-4">
            <div id="calendar"></div>
        </div>
    </div>

</div>
</body>
<script>

</script>

</html>