<!-- Sidebar -->
<style>
    .sidebar {
        min-height: 100%;
        min-width: 250px;
    }

    .sidebar a:hover {
        background-color: #6057cd;
        color: white;
    }

    .bg-color {
        background-color: #030f39 !important;
    }

    .nav-pills .nav-link.active {
        background-color: #6057cd;
    }
</style>
<div id="bdSidebar" class="sidebar bg-color d-flex flex-column flex-shrink-0 text-white offcanvas-md offcanvas-start">
    <!-- Brand -->
    <div class="navbar-brand p-4 d-flex align-items-center">
        <i class="fas fa-user-circle fa-2x"></i> <!-- Example Brand Icon -->
        <span class="ms-2">Admin Panelllllllll</span>
    </div>
    <hr class="m-0">
    <!-- Navigation -->
    <ul class="nav nav-pills flex-column mb-auto p-4">
        <li class="nav-item mb-2">
            <a th:href="@{/quan-tri-he-thong}" class="nav-link text-white">
                <i class="fa-regular fa-user me-2"></i> Dashboard
            </a>
        </li>
        <!-- Settings Dropdown -->
        <li class="nav-item mb-2">
            <a href="#manage" class="nav-link text-white d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse" aria-expanded="false" aria-controls="settings">
                <span>
                    <i class="fas fa-cog me-2"></i> Quản lí
                </span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="collapse list-unstyled ps-3 mt-2" id="manage">
                <li class="nav-item mb-1">
                    <a th:href="@{/quan-tri-he-thong/pet}" class="nav-link text-white">
                        <i class="fas fa-sign-in-alt me-2"></i>
                        <span>Thú cưng</span>
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a th:href="@{/quan-tri-he-thong/product}" class="nav-link text-white">
                        <i class="fas fa-user-plus me-2"></i>
                        <span>Sản phẩm</span>
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a th:href="@{/quan-tri-he-thong/user}" class="nav-link text-white">
                        <i class="fas fa-sign-out-alt me-2"></i>
                        <span>Người dùng</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="d-flex justify-content-center align-items-center p-4">
        <button class="btn d-md-none rounded-pill bg-light p-3 btn-close" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#bdSidebar" aria-controls="bdSidebar" aria-label="Mở menu">
        </button>
    </div>
</div>
<script>
    const currentUrl = window.location.pathname;
    const links = document.querySelectorAll('.nav-link');
    links.forEach(link => {
        if (link.getAttribute('href') === currentUrl) {
            link.classList.add('active');
        }
    });
</script>