body {
    background: url("/images/background/bg.png");
    font-family: 'Grandstander', cursive;
    background-size: cover;
    background-attachment: fixed;
}

.color {
    color: #f04336;
}

.background-color {
    background-color: #f04336;
}

.container {
    max-width: 1366px;
}

#menu {
    transition: 0.5s;
}

.button-image,
.button-image-white {
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.button-image {
    background-color: white;
    background-image: url("/images/background/button-2.png");
}

.button-image:hover {
    border: 2px solid black;
    transform: translate(-5px, -5px);
    box-shadow: 1px 1px 0px #000,
        2px 2px 0px #000,
        3px 3px 0px #000,
        4px 4px 0px #000,
        5px 5px 0px #000,
        6px 6px 0px #000;
}

.button-image-white {
    background-image: url("/images/background/button-white.png");
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.button-image-white:hover {
    transform: translate(-5px, -5px);
    box-shadow: 1px 1px 0px #000,
        2px 2px 0px #000,
        3px 3px 0px #000,
        4px 4px 0px #000,
        5px 5px 0px #000,
        6px 6px 0px #000;
}

.card-image {
    transition: 0.5s;
}

.card-image:hover {
    transform: scale(1.2);
}

h1 {
    font-size: 1.9rem !important;
}

h2 {
    font-size: 1.7rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.3rem !important;
}

h5 {
    font-size: 1rem !important;
}

p {
    font-size: 0.9rem !important;
}

@media (max-width: 992px) {
    h1 {
        font-size: 1.7rem !important;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    h3 {
        font-size: 1.2rem !important;
    }

    h4 {
        font-size: 1rem !important;
    }

    h5 {
        font-size: 0.8rem !important;
    }

    p {
        font-size: 0.7rem !important;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem !important;
    }

    h2 {
        font-size: 1.3rem !important;
    }

    h3 {
        font-size: 1rem !important;
    }

    h4 {
        font-size: 0.8rem !important;
    }

    h5 {
        font-size: 0.7rem !important;
    }

    p {
        font-size: 0.6rem !important;
    }
}

.add-to-cart {
    opacity: 0;
    transition: all 0.5s;
}

.add-to-cart-container:hover .add-to-cart {
    opacity: 1;
}

.add-to-cart:hover {
    background-color: #cc382e !important;
}

.sticky-element {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

.rounded-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

nav {
    background-image: url("/images/background/menu-background.png");
}

.menu-item {
    display: inline-block;
    color: black;
    text-align: center;
    border-radius: 4px;
    position: relative;
    transition: color 0.3s ease;
}

.menu-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 5px;
    border-radius: 4px;
    background-color: #f04336;
    transition: width 0.3s ease, left 0.3s ease;
    transform-origin: center;
}

.menu-item:hover::after {
    width: 100%;
    left: 0;
}

.mini-cart-box,
.mini-search-box,
.mini-user-box {
    position: absolute;
    top: 90%;
    right: 0;
    background: white;
    display: none;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.mini-cart-box {
    width: 500px;
}

.mini-cart-box .mini-cart-img {
    width: 100%;
    height: 200px;
}

.card-button:hover .mini-cart-box,
.user-button:hover .mini-user-box,
.search-button:hover .mini-search-box {
    display: block;
}

.user-button-decor {
    transition: 0.5s;
    border: 2px solid black;
}

.user-button-decor:hover {
    transform: translate(-5px, -5px);
    border: 2px solid black;
    box-shadow: 1px 1px 0px #000,
        2px 2px 0px #000,
        3px 3px 0px #000,
        4px 4px 0px #000,
        5px 5px 0px #000,
        6px 6px 0px #000;
}

.button-decor:hover {
    background-color: #cc392e;
    color: white;
}